/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Эленменты декора и переиспользуемые элементы */

.corner::before{
  position: absolute;
  content: "";
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
}

.corner::after{
  position: absolute;
  content: "";
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
}

.focus-section{
  display: grid;
  gap: 20px;
}

.focus-section__title{
  font-size: var(--accent-font-size);
  color: var(--accent-color);
  line-height: 23.4px;
  font-weight: bold;
}

.focus-section__list{
  display: grid;
  gap: 20px;
}

.card{
  display: grid;
  gap: 10px;
}

.card__title{
  font-size: var(--accent-font-size);
  line-height: 23.4px;
  font-weight: normal;
}

.card__text{
  font-size: var(--accent-font-size);
  color: var(--accent-text-color);
  line-height: 23.4px;
}

.gallery__list{
  display: grid;
  gap: 10px;
}

.gallery__list-item{
  font-size: 0;
}

.gallery__image{
  width: 100%;
  padding: 0;
  margin: 0;
}

.title-decor{
  color: var(--decorative-text-color);
  background-color: var(--accent-color);
}

.text-decor{
  text-shadow: 1px 1px 0 var(--accent-color);
}

/* Основной код */

.page {
  font-family: var(--accent-font), monospace;
  font-weight: normal;
  background-image: var(--background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.header{
  position: relative;
  height: 100dvh;
  padding: 10px;
}

.rec{
  color: var(--accent-color);
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  right: 19px;
  display: flex;
  align-items: center;
}

.rec::after{
  content: "";
  margin-left: 10px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px var(--accent-color);
}

.header__theme-menu-list{
  display: grid;
  justify-content: end;
  gap: 10px;
  padding-top: 65px;
}

.header__theme-menu-item{
  height: 26px;
}

.header__theme-menu-button{
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  font-weight: normal;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 0 13px;
}

.header__title{
  margin-block-start: 65px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--accent-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: bold;
}

.header__description{
  margin-block-start: 55px;
  white-space: pre-line;
  line-height: 23.4px;
}

.main{
  display: grid;
  gap: 50px;
  margin-block-start: 30px;
  padding: 10px;
}

.main__gallery{
  gap: 10px;
}

.footer{
  padding: 10px;
  margin-block-start: 30px;
  height: 100dvh;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
}

.footer__title{
  color: var(--accent-title-color);
  font-weight: bold;
  font-size: 116px;
  line-height: 82.5%;
  text-shadow: 1px 1px 0 var(--accent-color);
}
