/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Эленменты декора и переиспользуемые элементы */

.corner::before {
  position: absolute;
  content: '';
  border-block-start: 1px solid var(--second-color);
  border-inline-end: 1px solid var(--second-color);
  width: 25px;
  height: 25px;
  right: var(--padding-section);
  top: var(--padding-section);
}

.corner::after {
  position: absolute;
  content: '';
  border-block-end: 1px solid var(--second-color);
  border-inline-start: 1px solid var(--second-color);
  width: 25px;
  height: 25px;
  left: var(--padding-section);
  bottom: var(--padding-section);
}

.focus-section {
  display: grid;
  gap: 20px;
}

.focus-section__title {
  font-size: var(--accent-font-size);
  color: var(--second-color);
  line-height: 23.4px;
  font-weight: bold;
}

.focus-section__list {
  display: grid;
  gap: 20px;
  align-content: start;
}

.card {
  display: grid;
  gap: 10px;
}

.card__title {
  font-size: var(--accent-font-size);
  line-height: 23.4px;
  font-weight: bold;
}

.card__text {
  font-size: var(--accent-font-size);
  color: var(--accent-text-color);
  line-height: 23.4px;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__list-item {
  font-size: 0;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-decor {
  color: var(--decorative-text-color);
  background-color: var(--accent-color);
}

.link {
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.link:focus-visible {
  outline: 1px solid var(--accent-text-color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
  text-decoration-color: var(--accent-text-color);
}

/* Основной код */

.page {
  font-family: var(--accent-font), 'Consolas', monospace;
  font-weight: normal;
  background-image: var(--background);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  min-height: 668px;
  height: 100dvh;
  padding: var(--padding-section);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.rec {
  color: var(--accent-color);
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  top: var(--padding-section);
  right: calc(var(--padding-section) + 9px);
  display: flex;
  align-items: center;
  align-self: self-start;
}

.rec::after {
  content: '';
  margin-left: 10px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px var(--accent-color);
}

.header__theme-menu-list {
  align-self: end;
  display: grid;
  justify-content: end;
  gap: 10px;
}

.header__theme-menu-item {
  height: 26px;
}

.header__theme-menu-button {
  font-family: var(--accent-font), 'Consolas', monospace;
  font-size: var(--accent-font-size);
  font-weight: normal;
  color: var(--second-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 0 13px;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--second-color);
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--border-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--second-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--accent-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: bold;
}

.header__description {
  line-height: 23.4px;
  font-weight: bold;
  font-size: var(--accent-font-size);
}

.main {
  display: grid;
  gap: 50px;
  margin-block-start: 30px;
  padding: var(--padding-section);
}

.gallery {
  gap: 10px;
}

.footer {
  padding: var(--padding-section);
  margin-block-start: 30px;
  height: 100dvh;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
}

.footer__title {
  color: var(--accent-title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 1px 1px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: var(--padding-section) var(--padding-section) var(--padding-section) 0;
    grid-template-columns: 1fr 364px;
  }

  .header__theme-menu {
    grid-column: 1 / -1;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-column: 1 / -1;
  }

  .header__description {
    grid-column: 2 / -1;
  }

  .main {
    margin-block-start: 40px;
    gap: 80px;
  }

  .focus-section {
    grid-template-columns: 1fr 2fr;
  }

  .concentration__list {
    grid-column: 1 / 3;
  }

  .advice__title {
    grid-row: 1 / span 2;
  }

  .advice__list {
    grid-column: 2 / 3;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__title {
    grid-column: 1 / -1;
  }

  .gallery__list {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .gallery__list-item:has(.gallery__sunset) {
    grid-area: 1 / 1 / 2 / 3;
  }

  .gallery__list-item:has(.gallery__icecream) {
    grid-area: 1 / 3 / 3 / 4;
  }

  .gallery__list-item:has(.gallery__tape) {
    grid-area: 2 / 1 / 4 / 2;
  }

  .gallery__list-item:has(.gallery__street) {
    grid-area: 3 / 2 / 4 / 4;
  }

  .footer {
    margin-block-start: 40px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: 1fr 491px;
  }
  .header__theme-menu {
    align-self: self-start;
  }

  .header__theme-menu-list {
    align-content: start;
    grid-auto-flow: column;
    padding-left: 20px;
    justify-content: center;
  }

  .focus-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .focus-section__list {
    grid-column: 2 / 4;
  }

  .concentration__list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .advice__subtitle {
    grid-column: 2 / -1;
  }

  .gallery__list {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 315px 433px;
    gap: 20px;
  }
}
