/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-font: 'IBM Plex mono';
  --accent-font-size: 18px;
  --padding-section: 10px;
  --accent-color: #ff0070;
  --accent-title-color: #db00ff;
  --decorative-text-color: #000028;
  --accent-text-color: #f1b2ce;
  --bg-color: #000028;
  --background: url('../images/cover-image-dark.png');
  --second-color: #ff0070;
  --border-color: rgb(255 0 112 / 0.4);
}

@media (width >= 768px) {
  :root {
    --padding-section: 20px;
  }
}
